@fnt-fce {
  src: url("showcard.woff");
}

@font-face {
    font-family: 'Arcade';
    src: url("font.ttf") format("truetype");
}

.oldbutton {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1d;
    -fx-border-style: none;
    -fx-label-padding: 4px;
    -fx-background-color: lightgrey;
}

.button {
        -fx-font-family: "OCR A Extended";
        -fx-font-size: 16px;
        -fx-font-weight: bold;
        -fx-text-fill: #1d1d1d;
        -fx-border-style: none;
        -fx-label-padding: 4px;
        -fx-background-color: #b78c5d;
}

/*Set the text in all the lables centered*/
.label {
-fx-alignment:center;
}

.button:hover {
    -fx-background-color: #cecccc;
    -fx-text-fill: #1d1d1d;
    -fx-cursor: hand;
}

.button-start {
        -fx-font-size: 27px;
        -fx-font-family: "OCR A Extended";
        -fx-font-weight: bold;
}

.button-quit {
        -fx-font-family: "OCR A Extended";
}

.lblTitel {
    -fx-font-size: 36px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.totalScore {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.Test {
    -fx-background-color: none;
}

.combo-box .list-cell {
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.lblLogin {
    -fx-text-fill: red;
}

.lblText {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.frontImage {
    -fx-alignment: center;
}

.bg-style {
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 10;
}

.Title {
    -fx-font-family: "Showcard Gothic";
    -fx-font-size: 40px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.txtPlayer {
    -fx-font-family: "Microsoft YaHei UI";
    -fx-font-size: 12px;
    -fx-style: bold;
    -fx-alignment: center;
}

.grdScoreBord {
    -fx-background-color: white;
}

.txt-style {
    -fx-font-family: "Microsoft YaHei UI";
    -fx-font-size: 16px;
    -fx-style: bold;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.bg-image {
-fx-background-image: url('background.jpg');
-fx-background-repeat: no-repeat;
-fx-background-size: stretch;
-fx-background-position: center center;
}

.uitlegtext-style  {
    -fx-font-family: "OCR A Extended";
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-label-padding: 0,20,0,5
}

.imageuitleg-style  {
    -fx-border-color:darkblue;
    -fx-border-insets:3;
    -fx-border-radius:7;
    -fx-border-width:1.0;
}